<!DOCTYPE html>
<html>
  <head>
      <title>每週摘要</title>
      <link href="path_to_your_tailwind_css" rel="stylesheet">
  </head>
  <body class="bg-gray-100">
      <div class="container mx-auto p-8">
          <div class="max-w-md mx-auto bg-white rounded-lg overflow-hidden md:max-w-lg">
              <div class="md:flex">
                  <div class="w-full p-4">
                      <div class="relative">
                          <h2 class="text-xl font-bold text-gray-800">【每週摘要】</h2>
                          <p class="text-gray-600 mt-2">親愛的 系統管理員</p>
                          <p class="text-gray-600 mt-2">以下是過去 24 小時內的活動摘要：</p>
                          <ul class="list-disc list-inside mt-2">
                              <li>上週活耀使用者總數：共 <%= @weekly_active_users_total %> 位</li>
                              <li>上週活動報名總數：共 <%= @daily_booker_total %> 筆</li>
                          </ul>
                          <p class="text-gray-600 mt-2">祝您有美好的一天！</p>
                          <p class="text-gray-600 mt-2">
                              此致<br>
                              學習王<br>
                              <%= @time_now %>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>
