<h1>報名資訊</h1>
<div>
  <%= link_to '取消報名', activity_booking_path(@booking), data: { turbo_method: 'delete',
                                                                 turbo_confirm: '確定要取消報名嗎？' } %>
</div>
<%= render 'shared/activity_info', resources: @booking.activity %>

