<h1>使用者活動詳情</h1>

<ul>
  <% @logs.each do |log| %>
    <li>
      <p>
        <%= format_datetime(log.created_at) %>
        【 <%= t("type.#{log.type}") %> 】
      </p>
    </li>
  <% end %>
</ul>

<p>當日活耀使用者總數：<%= @daily_active_users_total %>位</p>
<p>一週活耀使用者總數：<%= @weekly_active_users_total %>位</p>