<h1>使用者【<%= @user.name %>】活動詳情</h1>

<%= render 'dashboard' %>
<ul>
  <% @logs.each do |log| %>
    <li>
      <p>
        <%= format_datetime(log.created_at) %>
        【 <%= t("type.#{log.type}") %> 】
      </p>
    </li>
  <% end %>
</ul>
